.dataForm {
    width: 40%;
    position: relative;
    padding-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
}

.form_input {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-weight: 500;
    line-height: 130%;
    color: #ffffff;
}


.form_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #0B710B inset;
    -webkit-text-fill-color: #ffffff;
}



.submit_button {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 32px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #282828;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.successful_button {
    background-color: #ffffff;
    color: #0B710B;
}


.submit_button:not(.successful_button):active {
    transform: scale(0.95);
}

.submit_button:not(.successful_button):hover {
    background-color: #000000;
    color: #ffffff;
}

.name,
.phone,
.email {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    color: #890202;
}

.name {
    top: 13%;
}

.phone {
    top: 36.8%;
}

.email {
    top: 60.3%;
}



input::placeholder {
    color: #ffffff;
}

@media (max-width: 1440px) {
    .dataForm {
        width: 50%;
        margin-top: 30px;
    }

    input {
        padding: 16px 20px;
    }
}

@media (max-width: 768px) {
    .dataForm {
        width: 100%;
        padding: 20px;
    }

    .name {
        top: 19%;
    }

    .phone {
        top: 43%;
    }

    .email {
        top: 66%;
    }
}