.header_logo {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s;
  align-items: center;
  gap: 16px;
}

.header_logo:active {
  transform: scale(0.9);
}
