.header_logo {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  gap: 30px;
}

.header_logo a img {
  transition: transform 0.3s;
}

.header_logo a img:active {
  transform: scale(0.9);
}

@media (max-width: 480px) {
  .header_logo {
    gap: 12px;
  }
}