.button_discount {
    border-radius: 6px;
    padding: 6px 16px;
    background-color: #393;
    color: #ffffff;
    font-family: Montserrat;
}

.button_discount:hover {
    background-color: #2b802b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.button_discount:active {
    transform: scale(0.95);
}