.mobile_btn {
  display: none;
}

.nav_basket {
  position: relative;
}

.nav_basket svg {
  cursor: pointer;
  position: relative;
  width: 57px;
  height: 67px;
  margin-top: 5px;
}

.nav_basket svg:hover {
  color: #2b802b;
}

.dark.nav_basket svg:hover {
  color: #20e220;
}

.nav_liked {
  align-items: center;
  cursor: pointer;
  position: relative;
}

.toogleAll {
  display: flex;
  gap: 24px;
  align-items: center;
}

.bag_quantity {
  position: absolute;
  width: 26px;
  height: 26px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 153, 51);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2px;
  top: 17px;
}

.like_quantity {
  position: absolute;
  width: 26px;
  height: 26px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(252, 145, 128);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7px;
}

.likeIcon {
  width: 54px;
  height: 54px;
}

.likeIcon:hover {
  color: rgb(252, 145, 128);
}

@media (max-width: 950px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 10;
    cursor: pointer;
  }

  .nav_basket {
    padding-right: 70px;
  }
}

@media (max-width: 480px) {
  .toogleAll {
    gap: 5px;
  }

  .nav_basket {
    padding-right: 50px;
  }
}