.product_item h3 {
  overflow: hidden;

  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 130%;
  width: 275px;
  white-space: nowrap;
  padding-left: 2rem;
}

.product_img {
  width: 100%;
  height: 284px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.custom_button_modal {
  display: block;
  position: static;
  width: 100%;
  margin-top: 16px;
}

.custom_button_modal:hover {
  background-color: #ffffff;
}

.product_item {
  display: flex;
  height: 422px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #ddd;
  gap: 16px;
  position: relative;
}

.img_container {
  width: 100%;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px 12px 0 0;

}

.product_item:hover .img_container img {
  transform: scale(1.1);
}

.price_container {
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
  align-items: flex-end;
}

.discount_overlay {
  position: absolute;
  top: 14px;
  left: 14px;
  border-radius: 6px;
  background: #393;
  padding: 4px 8px;
}

.bag {
  position: absolute;
  top: 10px;
  right: 63px;
  width: 40px;
  height: 40px;
  stroke-width: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  stroke: #ffffff;
  fill: rgb(53, 161, 53);
}

.empty_bag {
  display: none;
}

.likeIcon,
.likedIcon {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 40px;
  height: 40px;
  stroke-width: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.likeIcon {
  stroke-width: 6px;
  stroke: #000000;
  fill: #ffffff;
}

.likedIcon {
  stroke: #ffffff;
  fill: rgb(252, 145, 128);
}

.discount_text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.product_item:hover h3 {
  color: #0b710b;
}

.discounted_price {
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 600;
  line-height: 110%;
}

.price_without_discounted {
  color: #8b8b8b;
  font-size: clamp(16px, 2vw, 20px);
  text-decoration: line-through;
  line-height: 130%;
}

.product_item:hover .custom_button {
  display: block;
  background-color: forestgreen;
  color: #fff;
  border: 1px solid #fff;
  width: 70%;
}

@media (max-width: 768px) {
  .product_item h3 {
    width: 200px;
  }

  .product_item:hover .custom_button {
    display: none;
  }

  .empty_bag {
    display: block;
    stroke: #000000;
    fill: #ffffff;
    position: absolute;
    top: 10px;
    right: 63px;
    width: 40px;
    height: 40px;
    stroke-width: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  }
}
